*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(images/back_images.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}